<!DOCTYPE html>
<html lang="en">
<head>

	<%- await view(request, "admin/head") %>

</head>
<body>
	
	<%- await view(request, "admin/menu") %>

	<div class="app_body">

		<h1>Comments</h1>

		<div class="panel">

			<h2>Settings</h2>

		</div>

		<div class="panel">

			<h2>API</h2>

			<table>

				<tbody>

					<tr>

						<th>Path</th>
						<th>Description</th>
						<th>Fields</th>

					</tr>

					<tr>

						<td><code>/api/comments/add</code></td>
						<td>POSTs a new comment into the database</td>
						<td><code>title, author, content</code></td>

					</tr>

				</tbody>

			</table>

		</div>

	</div>

</body>
</html>
